* {box-sizing: border-box}
html, body {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    background: #f0ead2;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    
}

/* typography */
p {
    margin: 0;
    letter-spacing: 1px;
    font-weight:900 ;
    color: black;
}


header h1 {
    font-size: 2rem;
    text-transform: capitalize;
    /* margin: 0; */
}


header a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    margin: 0;

}


.film-title {
    font-size: 1.5rem;
    padding-right:  .2em;
    margin: 0;
    

}
 .text {
    font-size: .8rem;
    margin-right: 3em;
    margin: 0;
    color: #003566;
}
.data-info .plot-text {
    font-size: .8rem;
}



/* layout */
.container {
    width: 90%;
    max-width: 2000px;
    margin:  0 auto;
}
.container-flex {
    display: flex;
    flex-direction: column;
}

header {
    background: black;
    background-image: url('https://media.istockphoto.com/photos/television-on-cupboard-on-the-middle-of-modern-living-room-background-picture-id1392223030?k=20&m=1392223030&s=612x612&w=0&h=AsLEtikgkUNLljkBJe_AHqBuwg94Eia_msX9X5XpT2A=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:  white;
    padding: 0 0 2em 0;
    text-align: center;
    margin: 0;
    
}
/* navigation */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 900;
}
nav li {
    text-transform: capitalize;
    margin: 1em 0;
    text-transform: uppercase;
    font-size: .5rem;
}
 li a:hover {
    color: #023e8a;
}
input {
    width: 50%;
    font-size: 1.3rem;
    padding: .7em;
    margin-bottom: 1em;
    margin-top: -1em;
    border-radius: 5px;
    border: none;
    display: flex;
    text-transform: capitalize;
}



button#search-movie {
    background: #0a9396;
    padding: .7em 2em;
    border-radius: 7em;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
}
.current-page {
    border-bottom: 5px solid #fff;
}

/* styling for movie -data */
section .get-movie {
    margin-bottom: 2em;
}

.find-film-div {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
    grid-gap: 1em 2em;
}

 .movie-data {
    display: grid;
    grid-template:  auto auto  / 1em auto auto 1em;
    /* padding: .5em; */
    border: 10px solid #ccd5ae;
 }

 .movie-poster-img {
    border-radius: .5em;
    grid-column: 1 / -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: none;
    background-color: #e9edc9;
    padding: .5em;
}

.data-heading {
    /* border:  5px solid black; */
    display: flex;
    grid-column: 1 / -1 ;
    align-items: center;
    text-transform: capitalize;
    color: #003566;
}
.data-info {
    display: flex;
    grid-column: 1 / -1;
    text-transform: uppercase;
  
} 
.plot-text {
    grid-column: 1 / 4;
    color: #003566;
}
.watch-list-btn {
    align-self: flex-start;
}




 .side-img {
    height: 2rem;

}


/* .star-rating {
    display: block;
    margin-top: -.1em;
    color: black;
} */


 

.remove-item{ display: none; }

/* watchList div */
 .watch-list-div {
    margin-top: 1em;
}
.data-info .plot-text {
    font-size: .5rem;
}


.fail-text {
    width: 60%;
    font-size: 1rem;
}
.fail-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch-list-btn {

    
    
}
.watch-list-btn {
    margin-left: 1em;
    padding: .5em 1em;
    font-size: 1rem;
    background: #ccd5ae;
    color: #0a0908;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 900;
}



/* =================

MEDIA QUERIES

====================
 */
 @media (min-width:769px) {
    .container-flex {
        flex-direction: row;
        justify-content: space-between;
    }
    header h1{
        font-size: 3rem; 
        margin: 0;
    }
    header {
        text-align: left;
        padding:3em 0;
    }
    nav ul {
        flex-direction: row;
    }
    nav li {
        margin-left: 3em;
        letter-spacing: 1;
    }
    .find-film-div {
        grid-template-columns: repeat(3, calc(100% / 3));
        grid-gap: 1em 1em;
    }
    .movie-data {
         grid-template: 1em auto auto auto 1em / 200px auto auto 1em;
         
     }

     .movie-poster-img{
        grid-row: 1 / -1 ;
        grid-column: 1 / 2 ;
     }
     .data-heading  {
        grid-column: 2 / -1 ;
        grid-row: 2 / 2;
        align-items: center;
        padding: 10px;
       
       
     }
     .data-info {
        grid-column: 2 / -2 ;
        grid-row: 3;
        margin:0;
        padding-bottom: 10px;
        color: #003566;
        

     }
     .plot-text {
        grid-row: 4 ;
        grid-column:2 / -1 ;
        font-size: 1rem;
        margin: 0;
        color: #003566;
        text-transform: capitalize;
        line-height: 1.5rem;
        /* margin-bottom: 20px; */
     }
     .film-title, .star-rating {
        font-size: 1rem;
        padding-right: 0; 
     }
     .text {
        font-size: .7rem;
        color: #003566;
     }
     .side-img {
        height: 1rem;
    
    }

 }
 /* Responsiveness for tablets */

 @media screen and (max-device-width:768px), screen and (max-width:481px) {
       
        header {
            text-align: center;
        }
        nav ul {
            flex-direction: column;
        }
        nav li {
            margin: 2em 0;
        }
        input {
            width: 100%;
        }
        
        .movie-data {
            grid-template: 1em auto auto auto 1em / 200px auto auto 1em;
        }
        .movie-poster-img{
            grid-row: 4 / -1 ;
            grid-column: 1 / 2 ;
         }
         .data-heading  {
            grid-column: 1 / -1 ;
            grid-row: 1 / 2;
            align-items: center;
         }

         .data-info {
            grid-column: 1 / -2 ;
            grid-row: 3;
            margin:0;
            padding-left: 10px;
            color: #003566;
         }
         .plot-text {
            grid-row: 4 ;
            grid-column:2 / -1 ;
            font-size: .6rem;
            margin: 0;
            color: #003566;
            text-transform: capitalize;
            line-height: 1.5rem;
            padding-left: 10px;
         }
         .film-title, .star-rating {
            font-size: .8rem;
            padding: 0; 
            margin: 0;
    
         }
    
         .side-img {
            height: .7rem;
        }
        .star-rating {
            font-size: .7rem;
        }
        .text {
            font-size: .5rem;
            margin: 0;
         }
    
         .watch-list-btn {
            /* font-size: .7rem ; */
            padding: .5em .5em;
            margin: -2px 0 0 5px;
         }
         
         button.text {
            font-size: .5rem;
            border-radius: 2px;
            color: #003566;
         }
   


    }

 /* Responsiveness for moblie screens */

 @media (max-width:480px) {
    input {
        width: 100%;
        padding: .7em;
        font-size: .5rem;
       
    }

    header {
        text-align: center;
    }

    header h1 {
        font-size: 1rem;
    }
    header a {
        font-size: .7rem;
    }

    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 1.5em 0;
        
    }

    .find-film-div {
        grid-template-columns: auto;
        grid-gap: 1em 1em;
    }
    .movie-data {
        grid-template: auto /  auto;
    }
    .movie-poster-img{
        grid-column: 1 / -1;
        padding: 5px 0.63em 0 ;
        margin: 0;
     }
     .data-heading  {
        grid-column: 1 / -1 ;
        align-items: center;
        padding: 0 0.6em;
        margin-bottom: 5px;
     }
     .film-title, .star-rating {
        font-size: .5rem;
        padding-right: 0; 

     }

     .side-img {
        height: .5rem;
    }
    .star-rating {
        font-size: .5rem;
    }
    .data-info {
        grid-column: 1 / -1;
        margin:0;
        padding-left: 22px;
        margin-bottom: 5px;
     }
     .text {
        font-size: .3rem;
        margin: 0;
     }

     .watch-list-btn {
        font-size: .5rem ;
        padding: .4em .5em;
        margin: -2px 0 0 5px;
     }
     
     button.text {
        font-size: .3rem;
        border-radius: 2px;
        color: #003566;
     }
     .plot-text {
        grid-column:1 / -1 ;
        padding: 0 22px;
        font-size: .3rem;
        margin: 0;
        text-transform: capitalize;
        line-height: .5rem;
     }
 }

